.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 180px;
  padding: 22px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border: 1px dashed;
  border-radius: 4px;
  margin-top: 5px;
}

.subtotal > button {
  width: 100%;
  margin-top: 20px;
  background: #b9a36a;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
  color: rgb(44, 43, 43);
  padding: 7px;
}

.subtotal__gift {
  padding: 3px;
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  padding: 2px;
  margin: 4px;
}
